*{
    font-family: monospace;
    text-align: center;
}

.box{
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 20%;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

.g-container{
    width: 100%;
    margin: auto;
    display: flex;
   flex-direction: column;
    background-color: bisque;
    border-radius: 15%;
}

.line-one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: burlywood;
}

@keyframes shake {
    0% { transform: translate(0px); }
    20% { transform: translate(-10px); }
    40% { transform: translate(10px); }
    60% { transform: translate(-10px); }
    80% { transform: translate(10px); }
    100% { transform: translate(0px); }
  }
.danger{
    background-color: red;
    animation: shake 0.5s ease-in-out;
}


@media (max-width:800px){


    .box{
        width: 150px;
        height: 150px;
    }

    .line-one{
        justify-content: center;
        align-items: center;
    }

    .line-two{
        justify-content: center;
        align-items: center;
    }
    .g-container{
        margin-top: 100px;
    }
    body{
        font-size: large;
    }
}